streamlit
pandas
numpy
matplotlib
biopython
openai
googletrans==4.0.0-rc1
deep-translator
easyocr
opencv-python-headless
indic-transliteration
google-generativeai
wikipedia
plotly
datetime
pytz
stmol
py3Dmol
ipython_genutils
